{% extends "base.html" %}
{% block content %}


<h2>{{ page_title }}</h2>
<p>
    Welcome to RED Light Therapy, your ultimate resource for harnessing the power of light for optimal health and
    wellness.

    At RED Light Therapy, we're passionate about unlocking the potential of red and near-infrared light to transform
    lives. Led by a team of experts in the field of photobiomodulation, we're dedicated to providing you with the latest
    insights, research, and practical tips on incorporating red light therapy into your daily routine.

    Backed by scientific evidence and real-world testimonials, we believe that red light therapy holds the key to
    unlocking your body's natural healing abilities. Whether you're seeking relief from chronic pain, looking to
    rejuvenate your skin, or hoping to enhance your athletic performance, we're here to guide you every step of the way.

    As advocates for holistic wellness, we understand that true health encompasses not just the physical, but also the
    mental and emotional aspects of well-being. That's why our blog covers a wide range of topics, from the science
    behind red light therapy to mindfulness practices and self-care rituals that complement its benefits.

    But more than just a blog, RED Light Therapy is a community—a place where individuals from all walks of life come
    together to share their experiences, support one another, and inspire positive change. Whether you're a seasoned red
    light therapy enthusiast or just beginning your journey, you're welcome here.

    So, join us as we illuminate the path to optimal health and wellness through the power of red light therapy. Let's
    explore, learn, and grow together as we harness the healing power of light to live our best lives.

    Thank you for being a part of the RED Light Therapy community. Here's to radiant health and vitality!

    With light and gratitude,
    The RED Light Therapy Team
</p>

{% for avail in benefit %}

<div class="row featurette">

    {% if loop.index % 2 != 0 %}


    <div class="col-md-7">
        <h3><a href="/about/{{ member.url }}">{{ loop.index }}. {{ avail.name }}</a></h3>
        <p>{{avail.description}}</p>
    </div>
    <div class="col-md-5">
        <img src="{{ avail.image_source }}" alt="LED Red Light" class="featurette-image image responsive">
    </div>

    {% else %}

    <div class="col-md-5">
        <img src="{{ avail.image_source }}" alt="LED Red Light" class="featurette-image image responsive">
    </div>
    <div class="col-md-7">
        <h3><a href="/about/{{ member.url }}">{{ loop.index }}. {{ avail.name }}</a></h3>
        <p>{{avail.description}}</p>
    </div>

    {% endif %}

</div>

{% if loop.index != loop.length %}
    <hr class="featurette-divider">
{% endif %}

{% endfor %}

{% endblock %}